@{
    ViewData["Title"] = "Home Page";
}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Bem-vindo ao Work!</h1>
            <p class="lead text-muted">Todos os serviços na palma da sua mão.</p>
            <p>
                <a class="btn btn-primary my-2" asp-area="" asp-controller="ServiceCategories" asp-action="Index">Contratar Serviço</a>
                <a class="btn btn-secondary my-2" asp-area="" asp-controller="Register" asp-action="Create">Registrar-se</a>
            </p>
        </div>
    </div>
</section>
